<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4
      class="offcanvas-title"
      id="offcanvas-basic-title"
      i18n="@@filtersAvailiable"
      >
      Filters availiable
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="select-range">
        <div class="mb-3 me-1">
          <label for="releasedAfter" i18n="@@filterActorsBornAfter"
            >Born after</label
            >
            <div class="input-group">
              <input
                id="releasedBefore"
                class="form-control"
                [(ngModel)]="ngbBirthdayFrom"
                placeholder="yyyy-mm-dd"
                name="dpFrom"
                ngbDatepicker
                #dpFrom="ngbDatepicker"
                />
              <button
                class="btn btn-outline-secondary calendar"
                (click)="dpFrom.toggle()"
                type="button"
              ></button>
            </div>
          </div>
          <div class="mb-3 ms-1">
            <label for="releasedBefore" i18n="@@filterActorsBornBefore"
              >Born before</label
              >
              <div class="input-group">
                <input
                  id="releasedAfter"
                  [(ngModel)]="ngbBirthdayTo"
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dpTo"
                  ngbDatepicker
                  #dpTo="ngbDatepicker"
                  />
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="dpTo.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
          <div class="mb-3 ms-1">
            <input
              class="form-check-input"
              type="radio"
              name="genderMale"
              id="genderMale"
              [value]="gender.Male"
              [(ngModel)]="filterCriteria.gender"
              />
            <label class="form-check-label ms-1" for="genderMale" i18n="@@male"
              >Male</label
              >
              <input
                class="form-check-input ms-3"
                type="radio"
                name="genderFemale"
                id="genderFemale"
                [value]="gender.Female"
                [(ngModel)]="filterCriteria.gender"
                />
              <label class="form-check-label ms-1" for="genderFemale" i18n="@@female"
                >Female</label
                >
                <input
                  class="form-check-input ms-3"
                  type="radio"
                  name="genderUnknown"
                  id="genderUnknown"
                  [value]="gender.Unknown"
                  [(ngModel)]="filterCriteria.gender"
                  />
                <label
                  class="form-check-label ms-1"
                  for="genderUnknown"
                  i18n="@@unknown"
                  >Unknown</label
                  >
                </div>
                <div class="mb-3">
                  <label for="actor" class="form-label" i18n="@@actor">Actor</label>
                  <input
                    type="text"
                    [(ngModel)]="filterCriteria.name"
                    name="actor"
                    class="form-control"
                    id="actor"
                    i18n-placeholder="@@phActor"
                    placeholder="actor"
                    />
                </div>
                <div class="mb-3">
                  <label
                    for="movieCharacter"
                    class="form-label"
                    i18n="@@filterActorsMovieCharacter"
                    >Movie Character</label
                    >
                    <input
                      type="text"
                      [(ngModel)]="filterCriteria.movieCharacter"
                      name="movieCharacter"
                      class="form-control"
                      id="movie-character"
                      i18n-placeholder="@@phFilterActorsMovieCharacter"
                      placeholder="movie-character"
                      />
                  </div>
                  <div class="mb-3">
                    <div for="popularity" class="mb-1" i18n="@@filterActorsMinRating">
          Min Popularity
        </div>
                    <ngb-rating
                      id="popularity"
                      [(ngModel)]="filterCriteria.popularity"
                      name="popularity"
                      [rate]="0"
                    ></ngb-rating>
                  </div>
                  <div class="mb-3">
                    <span i18n="@@filterActorsInBio">In Biography</span>
                    <button class="btn btn-outline-primary float-end"
                      (click)="switchFilters()"
                      type="button"
                    i18n="@@filterActorsSwitchFilter">Switch filter</button>
                  </div>
                  @switch (filterType) {
                    @case (FullTextFilter.PhraseFilter) {
                      <div class="mb-3">
                        <div class="bio-label-input">
                          <label
                            for="bio"
                            class="form-label bio-label"
                            i18n="@@filterActorsOtherWords"
                            >Other words</label
                            >
                            <input
                              type="number"
                              [(ngModel)]="filterCriteria.searchTerm.searchPhrase.otherWordsInPhrase"
                              name="otherWordsInPhrase"
                              class="form-control"
                              id="otherWordsInPhrase"
                              i18n-placeholder="@@phOtherWords"
                              placeholder="other words"
                              />
                          </div>
                          <textarea
                            i18n-ngbPopover="@@filterActorsPhrasePopover"
                            ngbPopover="Enter a phrase to search for and select the number of other words allowed in it."
                            triggers="mouseenter:mouseleave"
                            i18n-popoverTitle="@@filterActorsPhrasePopoverTitle"
                            popoverTitle="Phrase search"
                            rows="2"
                            id="bio"
                            [(ngModel)]="filterCriteria.searchTerm.searchPhrase.phrase"
                            name="phrase"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="mb-3 float-end">
                          <button
                            class="btn btn-outline-primary"
                            (click)="resetFilters()"
                            type="button"
                            i18n="@@resetFilters"
                            >
          Reset Filters
        </button>
                        </div>
                      }
                      @case (FullTextFilter.WordFilter) {
                        <div class="mb-3">
                          <textarea
                            i18n-ngbPopover="@@filterActorsWordsPopover"
                            ngbPopover="Enter required included(+) and excluded(-) words and or(|). +plane |car -train"
                            triggers="mouseenter:mouseleave"
                            i18n-popoverTitle="@@filterActorsWordsPopoverTitle"
                            popoverTitle="Word search"
                            rows="2"
                            id="overview"
                            [(ngModel)]="searchWords"
                            name="search words"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="mb-3 float-end">
                          <button
                            class="btn btn-outline-primary"
                            (click)="resetFilters()"
                            type="button"
                            i18n="@@resetFilters"
                            >
          Reset Filters
        </button>
                        </div>
                      }
                    }
                  </form>
                </div>
              </ng-template>
              <div class="container-fluid">
                <div>
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-primary back-btn" (click)="back()" i18n="@@back">
          Back
        </button>
                      <button
                        class="btn btn-primary filter-change-btn"
                        (click)="showFilterMovies()"
                        i18n="@@filterActorsFilterMovies"
                        >
          Filter<br />Movies
        </button>
                      <button
                        class="btn btn-primary open-filters"
                        (click)="open(content)"
                        i18n="@@filterActorsOpenFilters"
                        >
          Open<br />Filters
        </button>
                      @if (filtering) {
                        <div
                          class="info-text filter-text"
                          i18n="@@filterActorsFilteringActors"
                          >
          Filtering Actors
        </div>
                      }
                      @if (filtering) {
                        <div class="info-text filter-text">
                          <img src="assets/svg/spinner.svg" />
                        </div>
                      }
                      @if (!filtering && filteredActors.length === 0) {
                        <div
                          class="info-text"
                          i18n="@@filterActorsNoActorsFound"
                          >
          No Actors found. Try different filter settings.
        </div>
                      }
                      @if (!filtering && filteredActors.length > 0) {
                        <table class="table">
                          <tr>
                            <th i18n="@@name">Name</th>
                            <th i18n="@@birthday">Birthday</th>
                            <th i18n="@@gender">Gender</th>
                            <th i18n="@@filterActorsBiography">Biography</th>
                          </tr>
                          @for (actor of filteredActors; track actor) {
                            <tr
                              (click)="selectActor(actor)"
                              class="import-item"
                              >
                              <td class="my-text-center">{{ actor.name }}</td>
                              <td class="my-text-center">
                                {{ actor.birthday | date : "dd.MM.yyyy" }}
                              </td>
                              @switch (actor.gender) {
                                @case (gender.Male) {
                                  <td
                                    class="my-text-center"
                                    i18n="@@male"
                                    >
                Male
              </td>
                                }
                                @case (gender.Female) {
                                  <td
                                    class="my-text-center"
                                    i18n="@@female"
                                    >
                Female
              </td>
                                }
                                @case (gender.Unknown) {
                                  <td
                                    class="my-text-center"
                                    i18n="@@unknown"
                                    >
                Unknown
              </td>
                                }
                              }
                              <td class="my-text-center">{{ actor.biography }}</td>
                            </tr>
                          }
                        </table>
                      }
                    </div>
                  </div>
                </div>
              </div>
