<div class="modal fade backdrop static" [class.show]="showModal" [class.authModal]="showModal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" i18n>Login / Signin</h5>
      </div>
      <div class="modal-body" [formGroup]="loginFormGroup">        
        <input type="text" class="form-control" i18n-placeholder placeholder="login" [formControlName]="ControlName.loginName" >
        <br/>
        <input type="password" class="form-control" i18n-placeholder placeholder="password" [formControlName]="ControlName.password" >
        <br/>
        <input type="text" class="form-control" i18n-placeholder placeholder="movieDbKey" [formControlName]="ControlName.movieDbKey">
        <br/>
        <div *ngIf="modalMsg.length > 0" class="alert alert-danger">{{modalMsg}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="loginUser()" i18n>Login</button>
        <button type="button" class="btn btn-secondary" (click)="cancelUser()" i18n>Cancel</button>
        <button type="button" class="btn btn-primary" (click)="signinUser()" i18n>Signin</button>
      </div>
    </div>
  </div>
</div>
