<div class="container-fluid">
  <div class="row">
    <div class="col">
      @if (backParam === queryParam.Empty) {
        <a
          [routerLink]="['/search']"
          i18n="@@back"
          >Back</a
          >
        }
        @if (backParam === queryParam.MoviesBack) {
          <a
            [routerLink]="['/filter-movies']"
            i18n="@@back"
            >Back</a
            >
          }
          <button
            class="btn btn-primary delete-btn"
            (click)="deleteMovie()"
            type="button"
            i18n="@@delete"
            >
        Delete
      </button>
        </div>
      </div>
      <div class="row">
        <div class="col" i18n="@@movieTitle">Title: {{ movie?.title }}</div>
      </div>
      <div class="row">
        <div class="col" i18n="@@movieReleaseDate">
      Release Date: {{ movie?.release_date | date : "dd.MM.yyyy" }}
    </div>
      </div>
      <div class="row">
        <div class="col" i18n="@@movieOverview">
      Overview: {{ movie?.overview }}
    </div>
      </div>
      <div class="row">
        <div class="col">
          <span i18n="@@movieGeneres">Generes:</span>
          @for (genere of movie?.myGenere; track genere) {
            <ul>
              <li>{{ genere.name }}</li>
            </ul>
          }
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span i18n="@@actorCast">Cast:</span>
          @for (cast of movie?.myCast; track cast) {
            <ul>
              <li>
                {{ cast.character }} -
                <a [routerLink]="['/actor', cast.myActor.id]">{{ cast.name }}</a>
              </li>
            </ul>
          }
        </div>
      </div>
    </div>
