<div class="modal fade backdrop static" [class.show]="showModal" [class.authModal]="showModal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" i18n="@@loginLoginSignin">Login / Signin</h5>
      </div>
      <div class="modal-body" [formGroup]="loginFormGroup">        
        <input type="text" class="form-control" i18n-placeholder="@@loginLoginPh" placeholder="login" [formControlName]="ControlName.LoginName" >
        <br/>
        <input type="password" class="form-control" i18n-placeholder="@@loginPassword" placeholder="password" [formControlName]="ControlName.Password" >
        <br/>
        <input type="text" class="form-control" i18n-placeholder="@@loginMovieDbKey" placeholder="movieDbKey" [formControlName]="ControlName.MovieDbKey">
        <br/>
        <div *ngIf="modalMsg.trim().length > 0" [ngClass]="modalMsgType === MessageType.Error ? 'alert alert-danger' : 'alert alert-info'">{{modalMsg}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="loginUser()" [disabled]="loginInvalid()" i18n="@@loginLogin">Login</button>
        <button type="button" class="btn btn-secondary" (click)="cancelUser()" i18n="@@cancel">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="signinUser()" [disabled]="signinInvalid()" i18n="@@loginSignin">Signin</button>
      </div>
    </div>
  </div>
</div>
