<div
  class="modal fade backdrop static"
  [class.show]="showModal"
  [class.authModal]="showModal"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLabel"
          i18n="@@loginLoginSignin"
          >
          Login / Signin
        </h5>
      </div>
      @if (!waitingForResponse) {
        <div
          class="modal-body"
          [formGroup]="loginFormGroup"
          >
          <input
            type="text"
            class="form-control"
            i18n-placeholder="@@loginLoginPh"
            placeholder="login"
            [formControlName]="ControlName.LoginName"
            (keyup.enter)="loginUser()"
            (keyup.escape)="cancelUser()"
            />
          <br />
          <input
            type="password"
            class="form-control"
            i18n-placeholder="@@loginPassword"
            placeholder="password"
            [formControlName]="ControlName.Password"
            (keyup.enter)="loginUser()"
            (keyup.escape)="cancelUser()"
            />
          <br />
          <input
            type="text"
            class="form-control"
            i18n-placeholder="@@loginMovieDbKey"
            placeholder="movieDbKey"
            [formControlName]="ControlName.MovieDbKey"
            (keyup.escape)="cancelUser()"
            />
          <br />
          @if (modalMsg.trim().length > 0) {
            <div
          [ngClass]="
            modalMsgType === MessageType.Error
              ? 'alert alert-danger'
              : 'alert alert-info'
          "
              >
              {{ modalMsg }}
            </div>
          }
        </div>
      }
      @if (!waitingForResponse) {
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="loginUser()"
            [disabled]="loginInvalid()"
            i18n="@@loginLogin"
            >
          Login
        </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="cancelUser()"
            i18n="@@cancel"
            >
          Cancel
        </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="signinUser()"
            [disabled]="signinInvalid()"
            i18n="@@loginSignin"
            >
          Signin
        </button>
        </div>
      }
      @if (waitingForResponse) {
        <div
          class="d-flex justify-content-center align-items-center spinner-container"
          >
          <div class="spinner-border text-primary myspinner" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      }
    </div>
  </div>
</div>
