<div class="container-fluid">
	<div class="row">
		<div class="col">
			<a [routerLink]="['/search']" i18n>Back</a> 
			<button class="btn btn-primary delete-btn" (click)="deleteMovie()" type="button">Delete</button>
		</div>
	</div>
	<div class="row">
		<div class="col" i18n>
			Title: {{movie?.title}}
		</div>
	</div>
	<div class="row">
		<div class="col" i18n>
			Release Date: {{movie?.release_date | date:'dd.MM.yyyy'}}
		</div>
	</div>
	<div class="row">
		<div class="col" i18n>
			Overview: {{movie?.overview}}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<span i18n>Generes:</span> 
			<ul *ngFor="let genere of movie?.myGenere">
				<li>{{genere.name}}</li>
			</ul>
		</div>
	</div>	
	<div class="row">
		<div class="col">
			<span i18n>Cast:</span> 
			<ul *ngFor="let cast of movie?.myCast">
				<li>{{cast.character}} - <a [routerLink]="['/actor',cast.myActor.id]">{{cast.name}}</a></li>
			</ul>
		</div>
	</div>	
</div>