<div class="container-fluid">
	<div>
		<div class="row">
			<div class="col">
				<div *ngIf="importState===ImportState.Importing" i18n="@@movieImportImporting">Importing...</div>
				<div *ngIf="importState===ImportState.MoviesLoading" i18n="@@movieImportMoviesLoading">Movies loading...</div>				
			    <div *ngIf="importState===ImportState.Idle && importMovies.length===0" i18n="@@movieImportNoMoviesFound">No Movies found</div>
			    <div *ngIf="importState===ImportState.ImportSuccess" i18n="@@movieImportSuccess">Movie import successful. Redirecting back.</div>
			    <div *ngIf="importState===ImportState.ImportFailed" i18n="@@movieImportFailed">
			       Movie import failed. Please try again later. Redirecting back.
			    </div>
				<table class="table" *ngIf="importMovies.length > 0">
					<tr>
						<th i18n="@@title">Title</th>
						<th i18n="@@release">Release</th>
						<th i18n="@@overview">Overview</th>
					</tr>
					<tr *ngFor="let movie of importMovies"
						(click)="importSelMovie(movie)" class="import-movie">
						<td class="my-text-center">{{movie.title}}</td>
						<td class="my-text-center">{{movie.release_date |
							date:'dd.MM.yyyy'}}</td>
						<td class="my-text-center">{{movie.overview}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
