<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Filters availiable</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="select-range">
      <div class="mb-3 me-1">
        <label for="releasedBefore">Released before</label>
        <div class="input-group">
          <input id="releasedBefore" class="form-control" placeholder="yyyy-mm-dd" name="dpFrom" ngbDatepicker #dpFrom="ngbDatepicker">
          <button class="btn btn-outline-secondary calendar" (click)="dpFrom.toggle()" type="button"></button>
        </div>
      </div>
      <div class="mb-3 ms-1">
        <label for="releasedAfter">Released after</label>
        <div class="input-group">
          <input id="releasedAfter" class="form-control" placeholder="yyyy-mm-dd" name="dpTo" ngbDatepicker #dpTo="ngbDatepicker">
          <button class="btn btn-outline-secondary calendar" (click)="dpTo.toggle()" type="button"></button>
        </div>
      </div>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="title">
      </div>
      <div class="mb-3">
        <div class="col">
           <div ngbDropdown class="d-inline-block">
              <label for="dropdownGeneres" class="form-label">Selected Generes</label>
              <div>
                 <button type="button" class="form-control btn btn-outline-primary" id="dropdownGeneres" ngbDropdownToggle>Generes</button>
                 <span>{{selectedGeneres}}</span>
                 <div ngbDropdownMenu aria-labelledby="dropdownGeneres">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <div class="select-range">
	      <div class="mb-3 me-1">
	        <label for="title" class="form-label">Min Length</label>
	        <input type="number" class="form-control" id="min-length" placeholder="minutes">
	      </div>
	      <div class="mb-3 ms-1">
	        <label for="title" class="form-label">Max Length</label>
	        <input type="number" class="form-control" id="max-length" placeholder="minutes">
	      </div>
      </div>
      <div class="mb-3">
         <div class="mb-1">Min Rating</div>
         <ngb-rating id="rating" [rate]="0"></ngb-rating>
      </div>
    </form>
  </div>
</ng-template>
<div class="container-fluid">
	<div>
		<div class="row">
			<div class="col">
			   <button class="btn btn-primary open-filters" (click)="open(content)">Open<br/>Filters</button>
			   <div class="info-text filter-text" *ngIf="filtering" i18n="@@filterMoviesFilteringMovies">Filtering Movies</div>
			   <div class="info-text filter-text" *ngIf="filtering">
			       <img src="assets/svg/spinner.svg">
			    </div>
			    <div class="info-text" *ngIf="!filtering && filteredMovies.length === 0" 
			       i18n="@@filterMoviesNoMoviesFound">No Movies found</div>
				<table class="table" *ngIf="!filtering && filteredMovies.length > 0">
					<tr>
						<th i18n="@@title">Title</th>
						<th i18n="@@release">Release</th>
						<th i18n="@@overview">Overview</th>
					</tr>
					<tr *ngFor="let movie of filteredMovies"
						(click)="selectMovie(movie)" class="import-movie">
						<td class="my-text-center">{{movie.title}}</td>
						<td class="my-text-center">{{movie.release_date |
							date:'dd.MM.yyyy'}}</td>
						<td class="my-text-center">{{movie.overview}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>