.info-text {
	padding-top: 30px;
	font-size: 30px;
	color: #000000; 
	text-align: center;
	width: 100%;
}

.filter-text {
	color: #037bfc;
}

.import-movie {
	cursor: pointer;
	&:hover {
		background: #BBBBBB;
	}
}

.open-filters {
	position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
}

.back-btn {
	position: absolute;
    bottom: 100px;
    right: 20px;
    border-radius: 50%;
}

.select-range {
	display: flex;	
}

.selected-generes {
	display: flex;
	align-items: center;	
}