.info-text {
	padding-top: 30px;
	font-size: 30px;
	color: #000000; 
	text-align: center;
	width: 100%;
}

.filter-text {
	color: #037bfc;
}

.import-movie {
	cursor: pointer;
	&:hover {
		background: #BBBBBB;
	}
}

.open-filters{
	position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
}