<app-login (loginClosed)="loginClosed($event)"></app-login><div class="container-fluid">
<div>	
	<div class="row">
		<div class="col-4 add-button">
			<div class="form-floating mb-3 searchImportMovie">
				<input type="text" id="importMovieByTitle" class="form-control" placeholder="xxx" aria-describedby="importMovieByTitle" [formControl]="importMovieTitle">
				<label class="my-floating-labels" for="importMovieByTitle" i18n>Import Movie Title</label>
			</div>
			<div>
				<button class="btn btn-secondary mb-3" type="button" [disabled]="importMoviesLoading" (click)="importMovie()" i18n>Search for Movie</button>
			</div>
		</div>
		<div class="col-3">
			<div class="form-floating">
				<input type="text" id="MovieByTitle" class="form-control" placeholder="xxx" aria-describedby="searchMovieTitle" [formControl]="movieTitle">				
				<label class="my-floating-labels" for="MovieByTitle" i18n>Search for Movie by Title</label> 				
			</div>
			<div *ngIf="movieTitle.value" class="searchList my-dropdown-menu">
				<span *ngIf="moviesLoading" i18n>Loading</span>
				<ng-container  *ngFor="let movie of movies | async">
					<a class="dropdown-item" *ngIf="!moviesLoading" [routerLink]="['/movie',movie.id]">{{movie.title}}</a>
				</ng-container>
			</div>
		</div>
		<div class="col-3">
			<div class="form-floating">
				<input type="text" id="MovieByActor" class="form-control" placeholder="name" aria-describedby="searchMovieActor" [formControl]="movieActor">
				<label class="my-floating-labels" for="MovieByActor" i18n>Search for Actor by Name</label>
			</div>
			<div *ngIf="movieActor.value" class="searchList my-dropdown-menu">
				<span *ngIf="actorsLoading" 1i8n>Loading</span>
				<ng-container *ngFor="let actor of actors | async">
					<a class="dropdown-item" *ngIf="!actorsLoading" [routerLink]="['/actor',actor.id]">{{actor.name}}</a>
				</ng-container>
			</div>
		</div>
		<div class="col-2 my-dropdown">
			<div class="dropdown mb-3">
				<button class="btn btn-secondary ngbDropdownToggle" type="button" (click)="dropDown()" i18n>Generes</button>
				<div class="dropdown-menu my-dropdown-menu" [class.show]="showMenu">
					<a class="dropdown-item my-dropdown-item" *ngFor="let gen of generes" (click)="showGenere(gen.id)">{{gen.name}}</a>
				</div>
			</div>
			<div [style.display]="moviesByGenLoading ? 'block' : 'none'" class="searchList my-dropdown-menu my-genere-menu-margin">
				<span i18n>Loading</span>
			</div>
			<div *ngIf="moviesByGenere.length > 0" class="searchList my-dropdown-menu my-genere-menu-margin">
				<a class="dropdown-item my-dropdown-item" [routerLink]="['/movie',movie.id]" *ngFor="let movie of moviesByGenere">{{movie.title}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div *ngIf="importMoviesLoading">Importing...</div>
			<table class="table" *ngIf="importMovies.length > 0">
				<tr>
					<th i18n>Title</th>
					<th i18n>Release</th>
					<th i18n>Overview</th>
				</tr>
				<tr *ngFor="let movie of importMovies" (click)="importSelMovie(movie)" class="import-movie">
					<td class="my-text-center">{{movie.title}}</td>
					<td class="my-text-center">{{movie.releaseDate | date:'dd.MM.yyyy'}}</td>
					<td class="my-text-center">{{movie.overview}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col" #movies *ngIf="!importMoviesLoading && importMovies.length === 0">
			<table class="table">
				<thead #header>
					<tr>
						<th i18n>Title</th>
						<th i18n>Release</th>
						<th i18n>Generes</th>
						<th i18n>Overview</th>
					</tr>
				<tbody #container>
					<tr *ngFor="let movie of scrollMovies" (dblclick)="movieDetails(movie)" class="import-movie">
						<td class="my-text-center">{{movie.title}}</td>
						<td class="my-text-center">{{movie.releaseDate | date:'dd.MM.yyyy'}}</td>
						<td class="my-list-center">
							<ul *ngFor="let genere of movie?.myGenere">
								<li>{{genere.name}}</li>
							</ul>
						</td>
						<td class="my-text-center">{{movie.overview}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>