ol, ul, dl {
	margin: 0;
}

.searchList {
	position: absolute;
	z-index: 1;
	border: solid 1px black;	
	background: #FFFFFF;	
	min-width: 10rem;
	ul {
		li:hover {
			background: #BBBBBB;
		}
	}
}
.my-dropdown-menu {
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
	cursor: pointer;
}
.my-genere-menu-margin {	
	margin-top: 3.5rem;
	width: inherit;
	box-sizing:border-box;		
}

.my-dropdown-item {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}

.my-text-center {
	vertical-align: middle;
}

.my-list-center {
	margin-top: auto;
	margin-bottom: auto;
}

.authModal {	
	display: block;
	background-color: rgba(0,0,0,0.4);
}
.scrollMovies {
	height: 500px;
	overflow-y: scroll;
}

.add-button {
	display: flex;
	flex: 1 1;
	align-items: center;
}

.my-floating-labels {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}

.my-dropdown {
	display: flex;
	align-items: center;
}

.searchImportMovie {
	flex: 1 0;
	margin-right: var(--bs-gutter-x);	
}
.import-movie {
	cursor: pointer;
	&:hover {
		background: #BBBBBB;
	}
}
